                       html { background-color: #e6ddd5; }
                        body {
                                font: 14px sans-serif;
                                margin: 0;
                                padding: 0 1em;
                        }
                        a {
                                color: #3067bb;
                        }
                        a:hover {
                                text-decoration: none;
                        }
                        #content {
                                border: solid 1px #ad9a89;
                                background-color: #fff;
                                margin: 4em auto;
                                max-width: 52em;
                                padding: 3em;
                        }
                        h1, #footer {
                                border: solid 0 #e6ddd5;
                                padding: 0.1em 0;
                        }
                        h1 {
                                border-bottom-width: 1px;
                                font-size: 1.6em;
                                font-weight: bold;
                                margin: 0;
                        }
                        #footer, #footer a {
                                color: #bbb;
                        }
                        #footer {
                                border-top-width: 1px;
                                font-size: 0.7em;
                                font-weight: bold;
                                margin: 0;
                        }

